$primary-color:#c13832;
$primary-color-v2:#c23129;
$primary-color-soft:#c139328e;

$darker-color:#b1352f;
$darker-color-soft:#b1362fa1;

$secondary-color:#d7d3c8;
$bubble-color:#d7d3c896;


$bc-mozilla: #c13832;
$bc-mozilla-1: #c13832;
$bc-mozilla-2: #d7d3c8;
$bc-mozilla-3: #444547;


//wrapper colors

$wp-color-1: #b42922;
$wp-color-2: #c13832;
$wp-color-3: #c13832;
$wp-color-4: #c13832;