$button-width-height : 70;
$button-font-size : 20pt;

$sidebar-width : 120px;

$floating-button-size: 60px; // define button size
$floating-button-bg-color: $primary-color; // define button background color
$floating-button-text-color: whitesmoke; // define button text color